<div class="project-main">
    <div class="request-header">
        <div>
            <img src="assets/user-regular.svg" alt="">
        </div>
        <h2>Choosing Project</h2>
    </div>
    @if (projects) {
        <div class="request-info">You have {{projects.length}} projects
             to choose one from to complete permit request</div>
    }
    @else {
        <div class="request-info">You have no projects, please create one</div>
    }
    <table>
        <thead>
            <th>Project Number</th>
            <th>project Name</th>
            <th>project Type</th>
            <th>project Status</th>
        </thead>
        <tbody>
            
                @for (prj of projects; track $index) {
                    <tr (click)="onSelectProject(prj)" [class.active]="prj===getProject">
                        <td>{{ prj.projectId }}</td>
                        <td>{{ prj.projectName }}</td>
                        <td>{{ prj.projectType }}</td>
                        <td>{{ prj.projectStatus }}</td>
                    </tr>
                }
           
        </tbody>
    </table>
    <!-- Errors -->
    @if (!getProject) {
        <div class="errors">
            <img src="assets/warning.svg" alt="">
            <p>Please Choose a Project to Continue</p>
        </div>
       
    }
    <!-- Control Buttons -->
    <div class="control-buttons">
        <input type="button" value="Cancel" id="cancel" (click)="onCancel()">
       <a [routerLink]="['/excavation-data']"><input type="button" 
        value="Next" id="confirm" [disabled]="!getProject"></a> 
    </div>

</div>


