
<div class="permit-details">
    <div class="permit-details-header">
        <div class="permit-details-header-right">
            <div>
                <img src="assets/credit-card-solid.svg" alt="Invoice">
            </div>
            <h2>Permit Details</h2>
        </div>
        <input type="button" value="Back" (click)="goBack()">
    </div>
    <div class="permit-details-body">
        <div class="project-details">
            <p>Permit Status: <span>{{permit.status}}</span></p>
            <p>Permit Number: <span>{{permit.id}}</span></p>
            <p>Project Number: <span>{{permit.project.projectId}}</span></p>
            <p>Project Name: <span>{{permit.project.projectName}}</span></p>
            <p>Project Type <span>{{permit.project.projectType}}</span></p>
            <p>Project Status <span>{{permit.project.projectStatus}}</span></p>
        </div>
        <div class="excavation-details">
            <p>Excavation Method: <span>{{permit.excavation.excavationMethod}}</span></p>
            <p>Excavation Type: <span>{{permit.excavation.excavationType}}</span></p>
            <p>Excavation Duration: <span>{{permit.excavation.excavationDuration}} Days</span></p>
            <p>Excavation Location: <span>{{getDetailedLocation()}}</span></p>
            <p>Excavation Description: <span>{{permit.excavation.excavationDescription}}</span></p>
            <p>Price: <span>{{permit.excavation.price}} $</span></p>
        </div>
    </div>
</div>